version: '3.9'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports:
      - "1433:1433"
    environment:
      SA_PASSWORD: "CristalCristalCristal!!!"
      ACCEPT_EULA: "Y"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: CristalCristalCristal!!!

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongodb_data:/data/db

  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: api
    depends_on:
      - sqlserver
      - rabbitmq
      - mongo
    ports:
      - "5096:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__SqlConnection: "Server=sqlserver,1433;Database=Ecommerce;User ID=sa;Password=CristalCristalCristal!!!;TrustServerCertificate=True;"
      RabbitMq__Host: rabbitmq
      RabbitMq__VirtualHost: /
      RabbitMq__Username: guest
      RabbitMq__Password: CristalCristalCristal!!!
      MongoDb__ConnectionString: "mongodb://admin:admin123@mongo:27017/?authSource=admin"
      MongoDb__DatabaseName: EcommerceLogs

  worker:
    build:
      context: .
      dockerfile: Dockerfile
      target: worker
    depends_on:
      - sqlserver
      - rabbitmq
      - mongo
    environment:
      DOTNET_ENVIRONMENT: Development
      ConnectionStrings__SqlConnection: "Server=sqlserver,1433;Database=Ecommerce;User ID=sa;Password=CristalCristalCristal!!!;TrustServerCertificate=True;"
      RabbitMq__Host: rabbitmq
      RabbitMq__VirtualHost: /
      RabbitMq__Username: guest
      RabbitMq__Password: CristalCristalCristal!!!

volumes:
  mongodb_data:
